.nav {
  position: fixed;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.0em;
   /* Full width of the viewport */
   width: 100vw;
}


.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.newTweet i {
  color: red;
}

.name {
  display: flex;
  font-family: 'Bungee', sans-serif;
  align-items: flex-end;
}


