.nav {
  position: fixed;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1.0em;
  width: 100vw;
}

.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Adjust the value for the desired movement */
  }
}

/* .newTweet div {
  margin-bottom: 10px;
} */

.newTweet i {
  color: red;
  animation: moveUpDown 1s infinite;
}

.name {
  display: flex;
  font-family: 'Bungee', sans-serif;
  align-items: flex-end;
}


@media (max-width: 1024px) {
  .nav {
    background-color: transparent;
  }
}